<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Salonkasoti.Properties.Settings.salonkrasotiConnectionString"
            connectionString="Data Source=306-14\SQLEXPRESS;Initial Catalog=salonkrasoti;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>